{{ define "main" }}
<h2>Oliver Jakoubek &mdash; <i>Bad jokes & good red wine</i>&nbsp;🍷</h2>
<br>
    <p>A&nbsp;🇦🇹&nbsp;living in&nbsp;🇩🇪&nbsp;but feeling&nbsp;🇪🇺</p>
    <p>Definitely too old for all the places I'd like to see&nbsp;🗺️</p>
    <p>Still unsure whether I walk my&nbsp;🐕&nbsp;or my &nbsp;🐕&nbsp;walks me</p>
    <p>Can spend hours in book stores and libraries&nbsp;📚</p>
    <p>There's nothing wrong with visiting many old castles&nbsp;🏰</p>
    <p>🏊&nbsp;in the summer&nbsp;⛷️&nbsp;in the winter</p>
    <p>Too much&nbsp;☕</p>
    <br>
    <p>
        <a href="tel:{{ .Site.Params.phoneNumber }}">Mobile</a> ~ <a href="mailto:{{ .Site.Params.emailAddress }}" target="_blank">Email</a> ~ <a href="https://threema.id/{{ .Site.Params.threemaId }}?text=">Threema</a> ~ <a href="https://www.twitter.com/{{ .Site.Params.twitterAccount }}/" target="_blank">Twitter</a> ~ <a href="https://www.jakoubek.net/?ref=ow" target="_blank">My software consulting (German)</a>
    </p>

{{ end }}